fastapi
uvicorn[standard]
weaviate-client
openai
langchain==0.3.27
langchain-openai
pydantic
python-dotenv
pymupdf
beautifulsoup4
requests
numpy
dart_fss
OpenDartReader
tabulate
plotly==6.3.0
pykrx==1.0.51
langgraph
python-multipart
aiofiles
markdown